@media (max-width: 1110px) {
  body {
    background-color: #e9bf05;
  }

  .fundo-video {
    display: none;
  }

  .imagem-titulo {
    width: 450px;
    height: auto;
  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  .container .onepiece {
    max-width: 25%;
  }

  .container .informacoes {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .container .descricao {
    color: #000000;
    text-align: center;
    font-size: 18px;
  }

  .container .botao {
    background-color: #ff0021;
  }
}

@media (max-width: 525px) {
  .cabecalho {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .logo {
    display: none;
  }

  .container .imagem-titulo {
    max-width: 55%;
  }

  .modal .fechar-modal {
    width: 30px;
    line-height: 30px;
  }

  .modal #video {
    width: 425px;
    height: 265px;
  }
}

@media (max-width: 425px) {
  .modal #video {
    width: 350px;
    height: 240px;
  }
}

@media (max-width: 320px) {
  .modal #video {
    width: 250px;
    height: 140px;
  }
}
